 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 606px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 20px 61px 20px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 606px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 2;
}

.u-section-1 .u-image-1 {
  height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 728px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 437px;
  margin: 16px auto 0;
}

.u-section-2 .u-list-1 {
  width: 492px;
  grid-template-rows: auto auto auto;
  background-image: none;
  margin: 59px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 475px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 26px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 0 0 26px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 0 0 26px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 0 0 26px;
}

.u-section-2 .u-list-2 {
  width: 517px;
  grid-template-rows: auto auto auto;
  margin: -510px 0 25px auto;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 592px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-6 {
  width: 342px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-7 {
  width: 342px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-8 {
  width: 342px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-9 {
  width: 342px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 317px;
  }

  .u-section-2 .u-text-3 {
    width: 317px;
  }

  .u-section-2 .u-text-4 {
    width: 317px;
  }

  .u-section-2 .u-text-5 {
    width: 317px;
  }

  .u-section-2 .u-list-2 {
    height: auto;
    min-height: 410px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 73px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 73px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 73px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    width: 320px;
  }

  .u-section-2 .u-text-7 {
    width: 320px;
  }

  .u-section-2 .u-text-8 {
    width: 320px;
  }

  .u-section-2 .u-text-9 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-block-d6b8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d6b8-3 {
  position: absolute;
  left: 0;
  background-image: none;
  padding: 7px;
}

.u-block-d6b8-4 {
  position: absolute;
  right: 0;
  background-image: none;
  padding: 7px;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4-1 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-4-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4-2 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-4-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4-3 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-4-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-4 .u-text-1 {
  margin: 280px auto 0;
}

.u-section-4-4 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4-4 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-5 {
  min-height: 404px;
}